.nav-link {
  box-shadow: inset 0px 0px 4px 1px black;
}



      /* --------- FOOTER ---------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerUl {
  margin-left: 30px;
}
.fp1 {
  margin-right: 10px;
}
