
/*Shipping and billing form*/

h1 {
    text-align: center;
    margin-top: 20px;
}


div.fieldset{
    /*border: solid black thin;*/
    width: 500px;
    background-color: #fff;
}

.fieldset {
    border: none;
    margin: 10px;
    padding: 10px;
    /*float: left;*/
}

.inputfield{
    display: flex;
    margin: -23px;
    width: 300px;

}

legend {
    font-size: 20px;
    background-color: blue;
    color: white;
    width: 50%;
    padding: 5px;
    width: 200px;
    margin: 20px;
}

label.field {
    text-align: right;
    width: 150px;
    float: left;
    font-weight: bold;

}

input.textbox{
    width: 300px;
    float: left;
}

fieldset p {
    clear: both;
    padding: 5px;
}

label span, .required {
    color: black;
    font-weight: bold;
}

.required {
    color: tomato;
    margin-left: 20px;
}

.asterik{
    color: tomato;
}


/*Items Table*/

.carttable{
    float: right;
    margin-right: 50px;
    width: 400px;
    height: 400px;
    margin-top: -680px;
}

.price{
    border-left: 1px solid #000;
    margin-left: 20px;
}

tf{
    margin-right: -100px;
}
